@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  width: 100vw;
}

.everything {
  background-color: white;
  padding-bottom: 20px;
  max-width: 90%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.img {
  background-size: cover;
  height: 250px;
  background-image: url(image-product-mobile.jpg);
  border-radius: 10px 10px 0px 0px;
}

.pre-title {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  letter-spacing: 5px;
  font-family: Montserrat;
  color: hsl(228, 12%, 48%);
}

.title {
  margin-left: 15px;
  margin-top: 0px;
  font-size: 30px;
  max-width: 90%;
  font-weight: bold;
  margin-bottom: 0px;
  color: hsl(212, 21%, 14%);
  line-height: 1;
  font-family: Fraunces;
}

.paragraf {
  padding-top: 15px;
  margin-left: 15px;
  margin-top: 5px;
  font-family: Montserrat;
  max-width: 85%;
  line-height: 1.5;
  color: hsl(228, 12%, 48%);
  /* border:1px solid red; */
}

.price {
  display: flex;
}
.price-1 {
  font-family: Fraunces;
  font-size: 33px;
  color: #559a69;
  margin-left: 20px;
  margin-top: 0;
}

.price-2 {
  text-decoration: line-through;
  margin-left: 30px;
  color: hsl(228, 12%, 48%);
  font-family: Montserrat;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid red; */
}

button {
  background-color: #559a69;
  border: none;
  font-family: Montserrat;
  font-size: 15px;
  width: 90%;
  color: white;
  border-radius: 8px;
  padding: 15px;
  margin-top: -20px;
}

button:hover {
  background-color: darkgreen;
}

.fa-solid {
  margin-right: 10px;
}

@media (min-width: 980px) {
  .everything {
    background-color: white;
    max-width: 650px;
    margin: auto;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-top: 10%;
    padding-bottom:0;
  }

  .img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 70vh;
    width:650px;
    background-image: url(image-product-desktop.jpg);
    border-radius: 10px 0px 0px 10px;
  }

  .title {
    margin-left: 15px;
    margin-top: 20px;
    font-size: 35px;
    width: 85%;
    font-weight: bold;
    margin-bottom: 0px;
    color: hsl(212, 21%, 14%);
    line-height: 1.1;
    font-family: Fraunces;
  }

  .body {
    padding-top: 10px;
    margin-left: 20px;
    margin-top: 15px;
    font-family: Montserrat;
    width: 70%;
    line-height: 1.8;
    color: hsl(228, 12%, 48%);
  }

  .price {
    display: flex;
    margin-top: -20px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */
  }

  button {
    width: 85%;
    margin-left: -25px;
  }
  .paragraf {
    width: 75%;
  }
}
